<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="chat">
      <div class="chat__sidebar"></div>

      <div class="chat__main">
        <div id="messages" class="chat__messages"></div>

        <div class="compose">
          <form action="">
            <input type="text" name="message" placeholder="Message" />
            <button type="submit">Send</button>
          </form>
          <button id="share-location">Share Location</button>
        </div>
      </div>
    </div>

    <script id="message-template" type="text/html">
      <div class="message">
        <p>
          <span class="message__name">User Name</span>
          <span class="message__meta">{{time}}</span>
        </p>
        <p>{{message}}</p>
      </div>
    </script>

    <script id="location-message-template" type="text/html">
      <div class="message">
        <p>
          <span class="message__name">User Name</span>
          <span class="message__meta">{{time}}</span>
        </p>
        <p>
          <a href="{{url}}" target="_blank">My current location.</a>
        </p>
      </div>
    </script>

    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/moment@latest"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
