<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
  </head>
  <body>
    <h1>Chat App</h1>

    <div id="messages"></div>

    <form action="">
      <input type="text" name="message" placeholder="Message" />
      <button type="submit">Send</button>
    </form>
    <button id="share-location">Share Location</button>

    <script id="message-template" type="text/html">
      <div>
        <p>{{time}} - {{message}}</p>
      </div>
    </script>

    <script id="location-message-template" type="text/html">
      <div>
        <p>
          {{time}} - <a href="{{url}}" target="_blank">My current location.</a>
        </p>
      </div>
    </script>

    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/moment@latest"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
